body {
	margin: 0;
	font-family: 'Quicksand', sans-serif;
}

a[href], input[type='submit'], input[type='image'], laber[for], select, button, pointer {
	cursor: pointer;
};

.more-clickable-area{
	padding: 1rem;
	margin: -1rem;
};